@charset "UTF-8";
/*RESET

es el reseteo de la web. Con el asteriquito

padding-margin
font-size
font-family*/
/*Seteo la fuente*/
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/*Seteo el encabezado con titulo, logo y nav bar*/
.encabezado {
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: #d4c098;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 115px;
  width: 100%;
}

.navbar-background {
  background-color: #d4c098;
  width: 100%;
}

.navbar-brand {
  margin-right: 20px;
}

.navbar-nav .nav-link {
  color: #5f3711;
  text-decoration: none;
  margin-right: 10px;
}

/* con el hover seteo para cambiar el color al pasar el cursor sobre los elementos de la nav */
.navbar-collapse li a:hover {
  color: #fafafa;
}

.logo {
  height: 70px; /* Altura de mi logo */
}

/*Seteo La imágen de portada*/
.portada {
  height: 250px;
  width: 100%;
  display: flex;
}

.titulo-secundario {
  text-align: center;
  justify-content: space-around;
  width: 100%;
  font-size: 20px;
  background-color: #e2d5c1;
  display: flex;
}

/*Seteo el contenedor de novedades*/
.contenedor-news {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  background-color: #f6f6e2;
  /* width: 100%; */
}

.section-title {
  text-align: center;
  font-size: 30px;
  line-height: 3;
}

.news {
  display: inline-block;
  line-height: 1.5;
  border: 2px solid #d4c098;
  padding: 20px;
  width: 350px;
}

.news-img {
  height: 300px;
  width: 100%;
}

/*Seteo informacion de seccion "acerca de"*/
.contenedor-acerca {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.descripcion {
  height: 700px;
  width: 100%;
  text-align: center;
  justify-content: space-around;
  line-height: 2;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  text-align: justify;
}

.text-justify {
  text-align: justify;
}

.foto {
  margin-top: 0px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.video-container {
  position: relative;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
  max-width: 80%;
  background: #000;
  margin: 0 auto;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.accordion-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: #f6f6e2;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.download-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.download-button {
  background-color: #e2d5c1;
  color: #5f3711;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-button:hover {
  background-color: #d4c098;
  color: #5f3711;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}
.table thead {
  background-color: #e0e0e0;
  color: #333;
}
.table thead th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}
.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table tbody tr:hover {
  background-color: #f1f1f1;
}
.table tbody tr th, .table tbody tr td {
  padding: 10px;
  border: 1px solid #ddd;
}
.table tbody tr th a.nav-link, .table tbody tr td a.nav-link {
  color: #007bff;
  text-decoration: none;
}
.table tbody tr th a.nav-link:hover, .table tbody tr td a.nav-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

/*Seteo el formulario de contacto para sección "contacto"*/
.contenedor-formulario {
  display: flex;
  padding: 5px;
  border: 1px solid #5f3711;
  border-radius: 0px;
  background-color: #fafafa;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  color: #5f3711;
  font-weight: bold;
}

.form-control {
  border: 1px solid #d4c098;
  padding: 10px;
}

.btn-primary {
  background-color: #5f3711;
  border: none;
  color: #fafafa;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #d4c098;
  color: #fafafa;
}

.form-title {
  text-align: center;
  font-size: 20px;
  line-height: 2;
  margin-top: 50px;
}

.form-button {
  text-align: center;
  font-size: 25px;
  color: #5f3711;
}

/*Seteo el footer*/
footer {
  display: flex;
  padding: 10px;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
