/*Seteo informacion de seccion "acerca de"*/
.contenedor-acerca{
    display: flex;
    justify-content: space-around;
    width: 100%;    
}

.descripcion{
    @include height-width(700px,100%);
    text-align: center;
    justify-content: space-around;
    line-height: 2; 
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: justify;
}

.text-justify {
    text-align: justify;
}

.foto {
    margin-top: 0px;
    width: 100%;
    max-width: 350px; 
    margin: 0 auto;
}